{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
    <h1>LISTADO DE GRUPOS</h1>
    <div>
        <table class="table table-bordered">
            <thead class="table-dark">
             <tr>
                <th>ID </th>
                <th>NOMBRE</th>
                <th>GRADO</th>
                <th>CAPACIDAD</th>
             </tr>
        </thead>
            {% for gp in grupos %}
              <tr>
                 <td>{{gp.idGrupo}}</td>
                 <td>{{gp.nombre}}</td>
                 <td>{{gp.grado}}</td>
                 <td>{{gp.capacidad}}</td>
              </tr>
          {% endfor %}
    </table>
    </div>
{%endblock content%}