{% extends 'comunes/index.html'%}
{% block contenido%}
  <br/>
     <a href="/materiasImpartidas">
         <button id="regresarCal" type="submit" class="btn btn-success" >Regresar</button>
     </a>
     <br/><br/>
     <div class="Tab">
    <table class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Alumno</th>
            <th>Bimestre</th>
            <th>Calificacion</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Luis </td>
           <td><select >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>

                </select></td>
            <td><input type="number" name="calificacion"  ></td>



        </tr>
        <tr>
            <td>2</td>
            <td>Ricado </td>
            <td><select >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>

                </select></td>
            <td><input type="number" name="calificacion" ></td>

        </tr>
        <tr>
            <td>3</td>
            <td>Erandi </td>
            <td><select >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>

                </select></td>
            <td><input type="number" name="calificacion" required></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Sebastian </td>
            <td><select >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>

                </select></td>
            <td><input type="number" name="calificacion" ></td>
        </tr>
        <tr>
            <td>6</td>
            <td>Alberto </td>
            <td><select >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>

                </select></td>
            <td><input type="number" name="calificacion" ></td>
        </tr>
        <tr>
            <td>7</td>
            <td>Leticia </td>
            <td><select >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>

                </select></td>
            <td><input type="number" name="calificacion" ></td>
        </tr>
        <tr>
            <td>8</td>
            <td>Antonio </td>
            <td><select >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>

                </select></td>
            <td><input type="number" name="calificacion" ></td>
        </tr>

        </table>

         <br/><br/>
            <button id="guardarCal" type="submit" class="btn btn-success">Guardar</button>
         </div>
     </main>
        <td><a href="/materiasImpartidas">Regresar</a> </td>
{%endblock%}
