{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<H1>LISTADO DE ALUMNOS</H1>
<form  action="/registroCalificaciones" method="post" class="row g-3">
    <div class="Tab">
        <a id="obtenerGrup" class="btn btn-primary" href="/materiasImpartidas"><span class="glyphicon glyphicon-menu-left"> Atras</span></a>
        <br/><br/>
    <table class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>ALUMNO</th>
            <th>BIMESTRE</th>
            <th>CALIFICACIÓN</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Luis </td>
            <td><select >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select></td>
            <td><input type="number" name="calificacion"  ></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Ricado </td>
            <td><select >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>

                </select></td>
            <td><input type="number" name="calificacion" ></td>

        </tr>
        <tr>
            <td>3</td>
            <td>Erandi </td>
            <td><select >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>

                </select></td>
            <td><input type="number" name="calificacion" ></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Sebastian </td>
            <td><select >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>

                </select></td>
            <td><input type="number" name="calificacion" ></td>
        </tr>
        <tr>
            <td>6</td>
            <td>Alberto </td>
            <td><select >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>

                </select></td>
            <td><input type="number" name="calificacion" ></td>
        </tr>
        <tr>
            <td>7</td>
            <td>Leticia </td>
            <td><select >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>

                </select></td>
            <td><input type="number" name="calificacion" ></td>
        </tr>
        <tr>
            <td>8</td>
            <td>Antonio </td>
            <td><select >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>

                </select></td>
            <td><input type="number" name="calificacion" ></td>
        </tr>
        </thead>
    </table>
        <br/>
        <button id="guardarCal" type="submit"><span class="glyphicon glyphicon-floppy-disk"> Guardar</span></button>
    </div>
</form>
{%endblock content%}
