{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
    <h1>LISTADO DE GRUPOS</h1>
    <div>
        {% if get_flashed_messages() %}
        {% for m in get_flashed_messages()%}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{m}}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <a href="/grupoNuevo" class="btn btn-success" id="nuevo1"> Registrar nuevo </a>
        <br/><br/>
        <table class="table table-bordered" >
            <thead class="table-dark">
             <tr>
                <th>ID </th>
                <th>NOMBRE</th>
                <th>GRADO</th>
                <th>CAPACIDAD</th>
                 <th>EDITAR</th>
             </tr>
        </thead>
            {% for gp in grupos %}
              <tr>
                 <td>{{gp.idGrupo}}</td>
                 <td>{{gp.nombre}}</td>
                 <td>{{gp.grado}}</td>
                 <td>{{gp.capacidad}}</td>
                  <td><a href="/gruposEditar/{{gp.idGrupo}}"><span class="glyphicon glyphicon-edit"></span></a></td>
              </tr>
          {% endfor %}
    </table>
    </div>
{%endblock content%}