{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<form  action="/gruposObtenerDatos" method="post" class="formularioInscripciones" enctype="multipart/form-data">
    <h1>MODIFICACIÓN DE DATOS DE UN GRUPO</h1>
    <input type="hidden" name="idGrupo" id="idGrupo" value="{{grupo.idGrupo}}" readonly/>
    <br/> <br/>
    <label for="nombre">Nombre: </label>
    <input type="text" name="nombre" id="nombre" value="{{grupo.nombre}}" maxlength="2"   required/>
    <br/> <br/>
    <div class="dropdown">
        <label for="grado">Grado: </label>
        <select id="grado" name="grado">
            {% if grupo.grado ==1%}
                <option value="1" selected>1°</option>
                <option value="2" >2°</option>
                <option value="3" >3°</option>
            {% else %}
                {% if grupo.grado==2%}
                    <option value="2" selected>2°</option>
                    <option value="1" >1°</option>
                    <option value="3" >3°</option>
                {%else%}
                    {% if grupo.grado==3%}
                        <option value="3" selected>3°</option>
                        <option value="1" >1°</option>
                        <option value="2" >2°</option>
                    {% endif %}
                {% endif %}
            {% endif %}
        </select>
    </div>
    <br/>
    <label for="capacidad">Capacidad: </label>
    <input type="number" name="capacidad" id="capacidad" value="{{grupo.capacidad}}" required/>
    <br/> <br/>
    <a class="btn btn-dark" href="/gruposListado"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <button type="submit" class="btn btn-info">Guardar Cambios</button>
    {%if current_user.is_authenticated and current_user.is_administrador()%}
    <a data-toggle="modal" data-target="#eliminarGP" id="elimin" class="btn btn-danger" ><span class="glyphicon glyphicon-trash"></span></a>
    {%endif%}
    {% if get_flashed_messages() %}
    {% for m in get_flashed_messages()%}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{m}}</strong>
    </div>
    {% endfor %}
    {% endif %}
</form>
<!--ELIMINAR USUARIO-->
<div id="eliminarGP"  class="modal fade" role="dialog">
    <div class="modal-dialog" role="eliminar">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Eliminación del Grupo: {{grupo.nombre}}</h4>
            </div>
            <div class="modal-body">
                <p>¿ Esta seguro de que quiere eliminar este Grupo ?</p>
            </div>
            <div class="modal-footer">
                <a href="/gruposEliminar/{{grupo.idGrupo}}" class="btn btn-info">Si</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{%endblock content%}