{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
        <H1>LISTADO DE ESTUDIANTES</H1>
        <a href="/estudiantesNuevo" class="btn btn-success" id="nuevo1"> Registrar nuevo </a>
        <br/><br/>
        <div class="table table-responsive">
            <table class="table table-bordered">
                <thead class="table-dark">
                <tr>
                    <th>FOTO</th>
                    <th>ID USUARIO</th>
                    <th>NOMBRE</th>
                    <th>SEXO</th>
                    <th>TELÉFONO</th>
                    <th>DOMICILIO</th>
                    <th>ESTATUS</th>
                    <th>E-MAIL</th>
                    <th>CONTRASEÑA</th>
                    <th>NO. CONTROL</th>
                    <th>FECHA DE NACIMIENTO</th>
                    <th>FECHA DE INGRESO</th>
                    <th>PROMEDIO GENERAL</th>
                    <th>EDITAR</th>
                </tr>
                </thead>
                {% for us in usuarios %}
                    {% if us.tipo=='E'%}
                        {% for est in estudiantes %}
                            {% if us.idUsuario==est.idUsuario%}
                                <tr>
                                    <td><img src="/usuarios/imagen/{{us.idUsuario}}" width="100px"></td>
                                    <td>{{us.idUsuario}}</td>
                                    <td>{{us.nombre}}</td>
                                    <td>{{us.sexo}}</td>
                                    <td>{{us.telefono}}</td>
                                    <td>{{us.domicilio}}</td>
                                    <td>{{us.estatus}}</td>
                                    <td>{{us.email}}</td>
                                    <td>{{us.clave}}</td>
                                    <td>{{est.noControl}}</td>
                                    <td>{{est.fechaNacimiento}}</td>
                                    <td>{{est.fechaIngreso}}</td>
                                    <td>{{est.promedioGeneral}}</td>
                                    <td><a href="/estudiantesEditar"><span class="glyphicon glyphicon-edit"></span></a></td>
                                </tr>
                            {% else %}
                            {% endif %}
                        {%endfor%}
                    {% else %}
                    {% endif %}
                {% endfor %}
            </table>
        </div>
{%endblock content%}