{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
        <form action="/estudiantesDatosNuevo" method="post" class="FormularioUsuarios" enctype="multipart/form-data">
            <h1>REGISTRO DE UN NUEVO ESTUDIANTE</h1>
            <div>
                <label for="foto">Fotografía: </label>
                <input type="file" name="foto" id="foto" value="Selecciona la imagen" accept="image/png, .jpeg, .jpg, image/gif">
            </div>
            <br/>
            <input type="hidden" name="idUsuario" id="idUsuario" value="{{usuario.idUsuario}}" maxlength="100" required/>
            <label for="nombre">Nombre: </label>
            <input type="text" name="nombre" id="nombre" placeholder="Nombre" maxlength="100" required/>
            <br/><br/>
            <div class="dropdown">
                <label for="sexo">Sexo: </label>
                <select id="sexo" name="sexo">
                    <option disabled selected>Seleccionar</option>
                    <option value="F">Mujer</option>
                    <option value="M">Hombre</option>
                </select>
            </div>
            <br/>
            <label for="telefono">Teléfono: </label>
            <input type="tel" name="telefono" id="telefono" placeholder="Teléfono" maxlength="12" size="12" required/>
            <br/><br/>
            <label for="domicilio">Domicilio: </label>
            <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" maxlength="50" size="50px" required/>
            <br/><br/>
            <label for="email">E-mail: </label>
            <input type="email" name="email" id="email" placeholder="email" maxlength="50" size="50px" required/>
            <br/><br/>
            <label for="clave">Contraseña: </label>
            <input type="password" name="clave" id="clave" placeholder="Contraseña" maxlength="10" required/>
            <br/><br/>
            <label for="noControl">noControl: </label>
            <input type="text" name="noControl" id="noControl" placeholder="noControl" maxlength="8" required/>
            <br/><br/>
            <label for="fechaNacimiento">Fecha de Nacimiento: </label>
            <input type="date" name="fechaNacimiento" id="fechaNacimiento" placeholder="Fecha" required/>
            <br/><br/>
            <label for="fechaIngreso">Fecha de ingreso: </label>
            <input type="date" name="fechaIngreso" id="fechaIngreso" required/>
            <br/><br/>
            <a class="btn btn-dark" href="/estudiantes"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <button type="submit" class="btn btn-info btn-lg">Registrar</button>
            {% if get_flashed_messages() %}
            {% for m in get_flashed_messages()%}
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{m}}</strong>
            </div>
            {% endfor %}
            {% endif %}
        </form>
{%endblock content%}