{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
    <br/>
        <h1>MATERIAS IMPARTIDAS</h1>
    <br/>
{% if get_flashed_messages() %}
{% for m in get_flashed_messages()%}
<div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{m}}</strong>
</div>
{% endfor %}
{% endif %}

    <div class="Tab">
          <table class="table table-bordered">
               <tr>
                 <th>Nombre</th>
                   {%for p in profesores%}
                    {%if current_user.idUsuario ==  p.idUsuario%}
                        {%for u in usuario%}
                            {%if p.idUsuario == u.idUsuario%}
                                <td>{{u.nombre}}</td>
                            {%else%}
                            {%endif%}
                        {%endfor%}
                    {%else%}
                    {%endif%}
                   {%endfor%}
               </tr>
                <tr>

                 <th>cédila</th>
                    {%for p in profesores%}
                    {%if current_user.idUsuario ==  p.idUsuario%}
                       <td>{{p.cedula}}</td>
                    {%else%}
                    {%endif%}
                   {%endfor%}

               </tr>
          </table>
    </div>
    <br/>
     <div class="Tab">

        <table class="table table-bordered">
        <thead class="table-dark">
        <tr>


            <th>Nombre</th>
            <th>Grupo</th>
            <th>Opciones</th>

        </tr>
        </thead>

            {%for m in materiaSi%}

                <tr>
                     {%for mm in materias%}
                        {%if mm.idMateria == m%}
                                <td>{{mm.nombre}}</td>

                                {%for nom in nombreH%}
                                    {%for h in horarios%}
                                        {%if nom == h.idHorario%}
                                            {%for g in grupos%}
                                                {%if g.idGrupo == h.idGrupo and h.idMateria ==m%}
                                                 <td>{{g.nombre}}</td>

                                                <td><a href="/grupCalificaciones/{{g.idGrupo}},{{h.idHorario}}" class="btn btn-dark">Lista de alumnos</a> </td>
                                                {%endif%}
                                            {%endfor%}
                                        {%endif%}
                                    {%endfor%}
                                {%endfor%}

                        {%endif%}
                     {%endfor%}
                </tr>
            {%endfor%}

        </table>
    </div>
{%endblock content%}