{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}

          <form  action="/registrarInscripcion" method="post" class="formularioInscripciones" enctype="multipart/form-data">
            <h1>INSCRIPCIONES</h1>
            <label for="noControl">Numero de Control: </label>
            <input type="text" name="noControl" id="noControl" placeholder="Numero de control" maxlength="8"   required/>
            <br/><br/>
            <label for="nombreCiclo">Ciclo: </label>
            <input type="text" name="nombreCiclo" id="nombreCiclo" value="2021-2022" disabled/>
            <br/>
              <br/>
            <div class="dropdown">
                <label for="idGrupo">Grupos: </label>
                <select id="idGrupo" name="idGrupo">
                    {% for gp in grupos %}
                        <option value={{gp.idGrupo}}>{{gp.nombre}}</option>
                    {% endfor %}
                </select>
            </div>
            <br/>
            <button type="submit" id="registro">Realizar inscripción</button>
            {% if get_flashed_messages() %}
            {% for m in get_flashed_messages()%}
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{m}}</strong>
            </div>
            {% endfor %}
            {% endif %}
        </form>
{%endblock content%}