header {
    background-color: #316796;
}
.encabezado{
    display: flex;
    padding-top: 15px;
}
#titulo{
    font-size: 60px;
    font-family: Georgia;
    font-weight: bold;
    color: white;
    text-align: center;
}
main{
    background-image: url('../img/fondo.jpeg');
    background-size: cover;
    height: 600px;
}
h1{
    color: black;
    font-family: Georgia;
    font-weight: 50px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
.table th{
    background-color: #316796;
    text-transform:uppercase;
}
.table{
    background-color: white;
    color:black;
    width: 90%;
    margin: auto;
}
#nuevo{
    margin-left: 5%;
}