.encabezado{
    display: flex;
    padding-top: 15px;
    background-color: #316796;
}
#titulo{
    font-size: 60px;
    font-family: Georgia;
    font-weight: bold;
    color: white;
    text-align: center;
}
body{
    background-image: url('../img/fondo.jpeg');
    background-size: cover;
    height: 100%;
}
h1{
    color: black;
    font-family: Georgia;
    font-weight: 50px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
th{
    color: white;
}
table, th tr, td{
    font-family: Arial Narrow;
    font-size: 20px;
}

.table th{
    background-color: #316796;
    text-transform:uppercase;
    text-align: center;
}
.table{
    background-color: white;
    color:black;
    width: 90%;
    margin: auto;
}

.tabb{
    background-color: white;
    color:black;
    width: 40%;
    margin: auto;
}
.table td{
    text-align: center;
}
#nuevo, #nuevo1, #nuevo2, #regresarAmaterias, #guardarCal, #selec, #selec2, #selec3,#selec4,#selec5, #obtenerGrup{
    margin-left: 5%;
}

.FormularioUsuarios{
    border-radius: 30px;
    background-color: #316796;
    border:3px solid #316796;
    padding: 20px;
    width: 50%;
    margin: auto;
    font-family: Arial Narrow;
    font-size:15px;
}

.formularioInscripciones{
   border-radius: 30px;
   background-color: #316796;
   border:3px solid #316796;
   padding: 20px;
   width: 35%;
   margin: auto;
   margin-top: 40px;
   font-family: Arial Narrow;
   font-size:15px;
}
#registro, #registro1, #guardarCal, #con{
    font-size 10px;
    background: #303130;
    color: white;
    font-family: Arial Narrow;
}

form h1, #titlcon, h1{
   font-family: Georgia;
   size: 50px;
   padding-bottom: 15px;
   text-align: center;
}
form label{
   color: white;
}
form h1, #foto{
   color: white;
}


#btn1,#btn2{
    background-color: #316796;
    border-color: white;
    color: white;

}
#generarHorarios, #agregarclase,#EliminarClase, #modificarClase{
    border-radius: 30px;
    background-color: #316796;
    color: white;
    width: 95%;
    margin: auto;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#generarHorarios, #modificarClase, #agregarclase, #EliminarClase, #titg, #imgn{
    color: white;
}
footer{
   color: white;
   font-size: 20px;
   font-family: Arial Narrow;
}

input, select{
    color: black;
    font-family: Arial Narrow;
}
label, #us{
    font-size: 15px;
    font-family: Arial Narrow;
}
#naveg li {
    padding-top: 7px;
}