{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
    <H1>LISTADO DE PROFESORES</H1>
    <a href="/profesoresNuevo" class="btn btn-success" id="nuevo2"> Registrar nuevo</a>
    <br/><br/>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-dark">
            <tr>
                <th>FOTO</th>
                <th>ID USUARIO</th>
                <th>NOMBRE</th>
                <th>SEXO</th>
                <th>TELÉFONO</th>
                <th>DOMICILIO</th>
                <th>ESTATUS</th>
                <th>E-MAIL</th>
                <th>CONTRASEÑA</th>
                <th>ID PROFESOR</th>
                <th>ESPECIALIDAD</th>
                <th>FECHA DE CONTRATACIÓN</th>
                <th>CÉCULA</th>
                <th>EDITAR</th>
            </tr>
            </thead>
            <tr>
                <td></td>
                <td>8</td>
                <td>Rosa Elena Villa Duarte</td>
                <td>F</td>
                <td>441-456-2570</td>
                <td>Lerdo de tejada #08 Zamora Michoacán</td>
                <td>Activo</td>
                <td>rvilla234@vros.com</td>
                <td>HOLA123!</td>
                <td>1</td>
                <td>Ciencias naturales</td>
                <td>20/08/2015</td>
                <td>23456129</td>
                <td><a href="/profesoresEditar"><span class="glyphicon glyphicon-edit"></span></a></td>
            </tr>
        </table>
    </div>
{%endblock content%}