{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
    <H1>LISTADO DE PROFESORES</H1>
    {% if get_flashed_messages() %}
    {% for m in get_flashed_messages()%}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{m}}</strong>
    </div>
    {% endfor %}
    {% endif %}
    {% for us in usuarios %}
        {% if us.idUsuario==ul%}
            <a href="/profesoresNuevo/{{us.idUsuario}}" class="btn btn-success" id="nuevo2"> Registrar nuevo</a>
        {% else %}
        {% endif %}
    {% endfor %}
    <br/><br/>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-dark">
            <tr>
                <th>FOTO</th>
                <th>ID USUARIO</th>
                <th>NOMBRE</th>
                <th>SEXO</th>
                <th>TELÉFONO</th>
                <th>DOMICILIO</th>
                <th>ESTATUS</th>
                <th>E-MAIL</th>
                <th>ID PROFESOR</th>
                <th>ESPECIALIDAD</th>
                <th>FECHA DE CONTRATACIÓN</th>
                <th>CÉCULA</th>
                <th>EDITAR</th>
            </tr>
            </thead>
            {% for us in usuarios %}
                {% if us.tipo=='P'%}
                    {% for prof in profesores %}
                        {% if us.idUsuario==prof.idUsuario%}
                            <tr>
                            <td><img src="/usuarios/imagen/{{us.idUsuario}}" width="100px"></td>
                            <td>{{us.idUsuario}}</td>
                            <td>{{us.nombre}}</td>
                            <td>{{us.sexo}}</td>
                            <td>{{us.telefono}}</td>
                            <td>{{us.domicilio}}</td>
                            <td>{{us.estatus}}</td>
                            <td>{{us.email}}</td>
                            <td>{{prof.idProfesor}}</td>
                            <td>{{prof.especialidad}}</td>
                            <td>{{prof.fechaContratacion}}</td>
                            <td>{{prof.cedula}}</td>
                            <td><a href="/profesoresEditar/{{us.idUsuario}}"><span class="glyphicon glyphicon-edit"></span></a></td>
                            </tr>
                        {% else %}
                        {% endif %}
                    {%endfor%}
                {% else %}
                {% endif %}
            {% endfor %}
        </table>
    </div>
{%endblock content%}