{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
    <h1>CALIFICACIONES DE LAS MATERIAS EN CURSO</h1>
    <div class="Tab">
      <table class="table table-bordered">
           <tr>
             <th>Nombre</th>
             <td>{{current_user.nombre}}</td>
           </tr>
            <tr>
             <th>Ciclo escolar</th>
             <td>2021- 2023</td>
           </tr>
            <tr>
             <th>Grupo</th>
             <td>6A</td>
           </tr>
      </table>
    </div>
    <br/>
    <div class="Tab">
        <table class="table table-bordered">
            <thead class="table-dark">
              <tr>
                <th>Materia</th>
                <th>Bimestre 1</th>
                <th>Bimestre 2</th>
                <th>Bimestre 3</th>
                <th>Bimestre 4</th>
                <th>Bimestre 5</th>
              </tr>
            </thead>
              <tr>
                <td>Español II</td>
                <td>9</td>
                <td>8</td>
                <td>8</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Matematicas II</td>
                <td>10</td>
                <td>8</td>
                <td>8</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Historia II</td>
                <td>6</td>
                <td>7</td>
                <td>9</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Quimica II</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Geografia II</td>
                <td>10</td>
                <td>9</td>
                <td>7</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Ciencias Naturales II</td>
                <td>9</td>
                <td>10</td>
                <td>10</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Civica y Etica II</td>
                <td>9</td>
                <td>8</td>
                <td>8</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Ed. Fisica II</td>
                <td>9</td>
                <td>10</td>
                <td>10</td>
                <td></td>
                <td></td>
              </tr>
          </table>
    </div>
{%endblock content%}