{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<h1>INSPECCIÓN DE CALIFICACIONES</h1>
{% if get_flashed_messages() %}
{% for m in get_flashed_messages()%}
<div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{m}}</strong>
</div>
{% endfor %}
{% endif %}
<a href="/detallecalificaciones" class="btn btn-info" id="obtenerGrup">Consultar por bimestre</a>
<br/><br/>
<div class="Tab">
    <table class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>ESTUDIANTE</th>
            <th>MATERIA</th>
            <th>PROMEDIO</th>
            <th>CICLO ESCOLAR</th>
            <th>ELIMINAR</th>
        </tr>
        </thead>
        {%for c in calificaciones%}
        <tr>
            {%for u in usuarios%}
                {%for e in estudiantes%}
                    {%if e.idUsuario == u.idUsuario and e.noControl == c.noControl%}
                    <td>{{u.nombre}}</td>
            {%for m in materias%}
                {%if m.idMateria == c.idMateria%}
                    <td>{{m.nombre}}</td>
                    <td>{{c.calificacionFinal}}</td>
                    {%for cic in ciclos%}
                        {%if cic.idCiclo == c.idCiclo%}
                            <td>{{cic.nombre}}</td>
                            <td><a href="/eliminarCalificaciones/{{c.idCalificacion}}"><span class="glyphicon glyphicon-trash"></span></a></td>
                        {%endif%}
                    {%endfor%}
                {%endif%}
            {%endfor%}

            {%endif%}
            {%endfor%}
            {%endfor%}

        </tr>
        {%endfor%}
    </table>
</div>
{%endblock content%}