{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
    <h1>KARDEX</h1>
    <div class="Tab">
      <table class="table table-bordered">
           <tr>
             <th>NOMBRE COMPLETO</th>
             <td>{{current_user.nombre}}</td>
           </tr>
          <tr>
              <th>NÚMERO DE CONTROL</th>
              {%for e in estudiantes%}
                  {%if e.noControl == noControl%}
                    <td>{{e.noControl}}</td>
                  {%endif%}
              {%endfor%}
          </tr>
            <tr>
             <th>GRUPO</th>
              {%for g in grupos%}
                  {%if g.idGrupo == grupo%}
                        <td>{{g.nombre}}</td>
                  {%endif%}
              {%endfor%}
           </tr>
      </table>
    </div>
    <br/>
    <div class="Tab">
        <table class="table table-bordered">
            <thead class="table-dark">
              <tr>
                <th>MATERIA</th>
                <th>PROMEDIO</th>
                <th>CICLO ESCOLAR</th>
              </tr>
            </thead>
            {%for c in calificaciones%}
            <tr>
                {%for m in materias%}
                    {%if m.idMateria == c.idMateria and c.idCiclo != cicloActual%}
                        <td>{{m.nombre}}</td>
                        <td>{{c.calificacionFinal}}</td>
                        {%for cic in ciclos%}
                            {%if cic.idCiclo == c.idCiclo%}
                                <td>{{cic.nombre}}</td>
                            {%endif%}
                        {%endfor%}
                    {%endif%}
                {%endfor%}
            </tr>
            {%endfor%}
          </table>
    </div>
{%endblock content%}