{% extends 'comunes/index.html'%}
{% block contenido%}
     <br/><br/>
     <div class="Tab">

            <div id="selec">
                <a id="combo">
                    <label for="Grupos">Profesor:  </label>
                <select id="Gruposr">
                    <option value="1A">Cecilia</option>
                    <option value="1B">Ricardo</option>
                    <option value="1C">Alejandro</option>
                    <option value="2A">Antonio</option>

                </select>

                    <label for="Grupos">&nbsp;&nbsp;Grupos: </label>
                <select id="Grupos">
                    <option value="1A">1A</option>
                    <option value="1B">1B</option>
                    <option value="1C">1C</option>
                    <option value="2A">2A</option>
                    <option value="2B">2B</option>
                    <option value="2C">2C</option>
                    <option value="3A">3A</option>
                    <option value="3B">3B</option>
                    <option value="3C">3C</option>

                </select>

                    <label for="materia">&nbsp;&nbsp; Selecciona materia: </label>
                    <select id="materia">
                        <option value="Matematicas">Matematicas</option>
                        <option value="Historia">Historia</option>
                        <option value="Quimica">Quimica</option>
                        <option value="Ciencias Naturales">Ciencias Naturales</option>
                        <option value="Geografia">Geografia</option>
                        <option value="Ed. Fisica">Ed. Fisica</option>
                        <option value="Civica y Etica">Civica y Etica</option>

                    </select>

                    <button id="regresarCal" type="submit" class="btn btn-success" >Generar</button>
                </a>

            </div>

         <br/>
    <table class="table table-bordered">
        <thead class="table-dark">

        <tr>

            <th>Horas</th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miercoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
        </tr>
        </thead>
        <tr>
            <td>7:00</td>
            <td>1 A</td>
            <td>2 C</td>
            <td>1 B</td>
            <td>2 B</td>
            <td>3 A</td>
        </tr>
        <tr>
            <td>8:00</td>
            <td>1 A</td>
            <td>2 C</td>
            <td>1 B</td>
            <td>2 B</td>
            <td>3 A</td>
        </tr>
        <tr>
            <td>9:00</td>
            <td>3 A</td>
            <td>2 C</td>
            <td>1 B</td>
            <td>2 B</td>
            <td>1 A</td>
        </tr>
        <tr>
            <td>9:30</td>
            <td>Receso</td>
            <td>Receso</td>
            <td>Receso</td>
            <td>Receso</td>
            <td>Receso</td>
        </tr>
        <tr>
            <td>10:00</td>
            <td>3 C</td>
            <td>2 A</td>
            <td>1 D</td>
            <td>2 B</td>
            <td>3 A</td>
        </tr>
        <tr>
            <td>11:00</td>
            <td>3 C</td>
            <td>2 A</td>
            <td>1 D</td>
            <td>2 B</td>
            <td>3 A</td>
        </tr>
        <tr>
            <td>12:00</td>
            <td>3 C</td>
            <td>2 A</td>
            <td>1 D</td>
            <td>2 B</td>
            <td>3 A</td>
        </tr>
        </table>
    </div>
{%endblock%}