{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<H1>USUARIOS ADMINISTRATIVOS</H1>
<a href="/administrativosNuevo" class="btn btn-success" id="nuevo"> Registrar nuevo </a>
<br/><br/>
<div class="Tab">
    <table class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>FOTO</th>
            <th>ID USUARIO</th>
            <th>NOMBRE</th>
            <th>SEXO</th>
            <th>TELÉFONO</th>
            <th>DOMICILIO</th>
            <th>TIPO</th>
            <th>ESTATUS</th>
            <th>E-MAIL</th>
            <th>CONTRASEÑA</th>
            <th>EDITAR</th>
        </tr>
        </thead>
        {% for us in usuarios %}
            <tr>
                {% if us.tipo=='A'%}
                    <td><img src="/usuarios/imagen/{{us.idUsuario}}" width="100px"></td>
                    <td>{{us.idUsuario}}</td>
                    <td>{{us.nombre}}</td>
                    <td>{{us.sexo}}</td>
                    <td>{{us.telefono}}</td>
                    <td>{{us.domicilio}}</td>
                    <td>{{us.tipo}}</td>
                    <td>{{us.estatus}}</td>
                    <td>{{us.email}}</td>
                    <td>{{us.clave}}</td>
                    <td><a href="/administrativosEditar/{{us.idUsuario}}"><span class="glyphicon glyphicon-edit"></span></a></td>
                {% else %}
                    {% if us.tipo=='S'%}
                        <td><img src="/usuarios/imagen/{{us.idUsuario}}" width="100px"></td>
                        <td>{{us.idUsuario}}</td>
                        <td>{{us.nombre}}</td>
                        <td>{{us.sexo}}</td>
                        <td>{{us.telefono}}</td>
                        <td>{{us.domicilio}}</td>
                        <td>{{us.tipo}}</td>
                        <td>{{us.estatus}}</td>
                        <td>{{us.email}}</td>
                        <td>{{us.clave}}</td>
                        <td><a href="/administrativosEditar/{{us.idUsuario}}"><span class="glyphicon glyphicon-edit"></span></a></td>
                    {% else %}
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>
{%endblock content%}

