{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
<H1>USUARIOS ADMINISTRATIVOS</H1>
{% if get_flashed_messages() %}
{% for m in get_flashed_messages()%}
<div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{m}}</strong>
</div>
{% endfor %}
{% endif %}
<br/>
<a href="/administrativosNuevo" class="btn btn-success" id="nuevo"> Registrar nuevo </a>
<br/><br/>
<div class="Tab">
    <table class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>FOTO</th>
            <th>ID USUARIO</th>
            <th>NOMBRE</th>
            <th>SEXO</th>
            <th>TELÉFONO</th>
            <th>DOMICILIO</th>
            <th>TIPO</th>
            <th>ESTATUS</th>
            <th>E-MAIL</th>
            <th>EDITAR</th>
        </tr>
        </thead>
        {% for us in usuarios %}
            {% if us.tipo=='A'%}
                <tr>
                    <td><img src="/usuarios/imagen/{{us.idUsuario}}" width="100px"></td>
                    <td>{{us.idUsuario}}</td>
                    <td>{{us.nombre}}</td>
                    <td>{{us.sexo}}</td>
                    <td>{{us.telefono}}</td>
                    <td>{{us.domicilio}}</td>
                    <td>Administrador</td>
                    <td>{{us.estatus}}</td>
                    <td>{{us.email}}</td>
                    <td><a href="/administrativosEditar/{{us.idUsuario}}"><span class="glyphicon glyphicon-edit"></span></a></td>
                </tr>
            {% else %}
                    {% if us.tipo=='S'%}
                        <tr>
                            <td><img src="/usuarios/imagen/{{us.idUsuario}}" width="100px"></td>
                            <td>{{us.idUsuario}}</td>
                            <td>{{us.nombre}}</td>
                            <td>{{us.sexo}}</td>
                            <td>{{us.telefono}}</td>
                            <td>{{us.domicilio}}</td>
                            <td>Staff Administrativo</td>
                            <td>{{us.estatus}}</td>
                            <td>{{us.email}}</td>
                            <td><a href="/administrativosEditar/{{us.idUsuario}}"><span class="glyphicon glyphicon-edit"></span></a></td>
                        </tr>
                    {% else %}
                    {% endif %}
            {% endif %}
        {% endfor %}
    </table>
</div>
{%endblock content%}

